# Python
__pycache__/
*.pyc

# Virtual env
.venv/
venv/

# YOLO training artifacts
runs/*

# Ignore all weights by default
weights/*

# BUT allow base production weights
!weights/base_wagon_yolo.pt


# Datasets
dataset/
IMAGE/
report/
# убрал передачу фоток из теста
test/
input_image/*
output_image/*
# OS
.DS_Store
Thumbs.db
